:root{
--ballx:10px;
--bal1y:20px;
--bal2x:100px;
--bal2y:70px;
--bal3x:100px;
--bal3y:30px;
--bal4x:30px;
--bal4y:50px;
--bal5x:50px;
--bal5y:100px;
--bal6x:20px;
--bal6y:80px;

}
@keyframes roll{
    0%{
        transform: translateX(var(--ballx)) translateY(var(--bal1y));
    }
    20%{
        transform: translateX(50px) translateY(200px);
    }
    40%{
        transform: translateX(100px) translateY(200px);
    }
    60%{
        transform: translateX(110px) translateY(150px);
    }
    80%{
        transform: translateX(130px) translateY(200px);
    }
    100%{
        transform: translateX(var(--ballx)) translateY(var(--bal1y));
    }
}
@keyframes roll2{
    0%{
        transform: translateX(var(--bal2x)) translateY(var(--bal2y));
    }
    20%{
        transform: translateX(var(--bal2x)) translateY(100px);
    }
    40%{
        transform: translateX(50px) translateY(200px);
    }
    60%{
        transform: translateX(110px) translateY(150px);
    }
    80%{
        transform: translateX(130px) translateY(200px);
    }
    100%{
        transform: translateX(var(--bal2x)) translateY(var(--bal2y));
    }
}
@keyframes roll3{
    0%{
        transform: translateX(var(--bal3x)) translateY(var(--bal3y));
    }
    20%{
        transform: translateX(30px) translateY(50px);
    }
    40%{
        transform: translateX(100px) translateY(200px);
    }
    60%{
        transform: translateX(70px) translateY(150px);
    }
    80%{
        transform: translateX(100px) translateY(10px);
    }
    100%{
        transform: translateX(var(--bal3x)) translateY(var(--bal3y));
    }
}
@keyframes roll4{
    0%{
        transform: translateX(var(--bal4x)) translateY(var(--bal4y));
    }
    20%{
        transform: translateX(10px) translateY(50px);
    }
    40%{
        transform: translateX(120px) translateY(20px);
    }
    60%{
        transform: translateX(140px) translateY(150px);
    }
    80%{
        transform: translateX(50px) translateY(10px);
    }
    100%{
        transform: translateX(var(--bal4x)) translateY(var(--bal4y));
    }
}
@keyframes roll5{
    0%{
        transform: translateX(var(--bal5x)) translateY(var(--bal5y));
    }
    20%{
        transform: translateX(60px) translateY(10px);
    }
    40%{
        transform: translateX(90px) translateY(20px);
    }
    60%{
        transform: translateX(200px) translateY(50px);
    }
    80%{
        transform: translateX(90px) translateY(10px);
    }
    100%{
        transform: translateX(var(--bal5x)) translateY(var(--bal5y));
    }
}
@keyframes roll6{
    0%{
        transform: translateX(var(--bal6x)) translateY(var(--bal6y));
    }
    20%{
        transform: translateX(100px) translateY(10px);
    }
    40%{
        transform: translateX(20px) translateY(120px);
    }
    60%{
        transform: translateX(90px) translateY(50px);
    }
    80%{
        transform: translateX(80px) translateY(30px);
    }
    100%{
        transform: translateX(var(--bal6x)) translateY(var(--bal6y));
    }
}
@keyframes funanim{
    0%{
        transform: scale(0.2);
    }
    5%{
        transform: translateX(100px) scale(0.4);
    }
    10%{
        transform: translateY(150px) scale(0.6);
    }
    15%{
        transform: translateX(150px) translateY(150px) scale(0.8) ;
    }
    20%{
        transform: translateX(150px) translateY(250px) scale(1) ;
    }
    25%{
        transform: translateX(70px) translateY(250px) ;
    }
    30%{
        transform: translateX(70px) translateY(350px) ;
    }
    35%{
        transform: translateX(100px) translateY(350px) ;
    }
    40%{
        transform: translateX(120px) translateY(400px) ;
    }
    45%{
        transform: translateX(100px) translateY(450px) ;
    }
    50%{
        transform: translateX(100px) translateY(550px) ;
    }
    55%{
        transform: translateX(50px) translateY(650px) ;
    }
    60%{
        transform: translateX(50px) translateY(750px) ;
    }
    65%{
        transform: translateX(100px) translateY(850px) ;
    }
    70%{
        transform: translateX(50px) translateY(1000px) ;
    }
    80%{
        transform: translateX(100px) translateY(1500px) scale(0.8) ;
    }
    85%{
        transform: translateX(60px) translateY(2500px) scale(0.6) ;
    }
    90%{
        transform: translateX(100px) translateY(1500px) scale(0.4) ;
    }
    95%{
        transform: translateX(100px) translateY(150px) scale(0.2) ;
    }
    100%{
        transform:scale(0);
    }
}
*{
    margin: 0px;
    padding: 0px;
}
.fun{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(98, 24, 100, 0.26);
    top: 150px;
    left: 150px;
    z-index: 100;
    border-radius: 50%;
    transform: scale(0);
    animation: funanim 40s  1s infinite linear;
    perspective: 200px;
    transition: 2s;
}
.fun:nth-child(2){
    animation-delay: 2s;
}
.fun:nth-child(3){
    animation-delay: 3s;
}
.fun:nth-child(4){
    animation-delay: 4s;
}
.fun:nth-child(5){
    animation-delay: 5s;
}
.container{
    display: grid;
    background-color: hsl(360, 100, 100);
    position: relative;
    min-width: 100%;
    min-height: 120vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    
}
.nav{
    min-width: 100%;
    background-color:hsl(360, 100, 100);
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    grid-row: 1/2;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 2s;
}
.nav .logo{
grid-column:1/2;
background-color: hsl(360, 100, 100);
display: flex;
flex-direction: row;
}
.nav .logo img{
    width: 50px;
    height: 50px;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    filter:blur(2px);

}
.nav .logo h3{
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.336);
}
.nav .navigations{
    grid-column: 2/5;
    background-color: hsl(360, 100, 100);
    transition: 3s;
    
    
}
.nav .navigations img{
    display: none;
}
.nav .navigations ul{
    margin-left: 20%;
    margin-top: 20px;
    
}
.nav .navigations ul li{
    display: inline;
    padding: 20px;
}
.nav .navigations ul li a{
    list-style: none;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}
.nav .navigations ul li a:hover{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.26);
}
.subsection{
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(184, 215, 235, 0.253);
    height: 100%;
    grid-row: 2/10;
    overflow: hidden;
    
  
}
.subsection .bio{
    position: relative;
    
}
.subsection .bio h2{
    position: absolute;
    top: 15%;
    left:20%;
    font-family:sans-serif;
    font-weight: 100;

}
.subsection .bio h1{
    position: absolute;
    top: 20%;
    left:20%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bolder;

}
.subsection .bio p{
    position: absolute;
    top: 30%;
    left:20%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: sans-serif;
   

}

.subsection .bio button{
    position: absolute;
    top: 45%;
    left:20%;
    width: 200px;
    height: 50px;
    border: none;
    background-image: linear-gradient(to right,rgba(216, 81, 216, 0.904),rgba(107, 107, 245, 0.788));
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
  

}
.subsection .pic{
    position: relative;
}
.subsection .pic .picanimation{
    position: relative;
    width:50%;
    height: 350px;
    background:transparent;
    top: 15%;
    left: 20%;
    border: 10px rgba(216, 81, 216, 0.904) solid;
    transition: 2s;
    perspective: 200px;
}
.subsection .pic .picanimation .balls{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 2s;
    perspective: 200px;
    
    
}
.balls.bal1{
    left:var(--ballx);
    top: var(--bal1y);
    background-color: rgba(216, 81, 216, 0.24);
    animation: roll 10s   infinite linear;
    
}
.balls.bal2{
    left:var(--bal2x);
    top: var(--bal2y);
    background-color: rgba(107, 107, 245, 0.788);
    animation: roll2 10s   infinite linear;
}
.balls.bal3{
    left:var(--bal3x);
    top: var(--bal3y);
    background-color: rgba(216, 81, 216, 0.527);
    animation: roll3 10s   infinite linear;
}
.balls.bal4{
    left:var(--bal4x);
    top: var(--bal4y);
    background-color: rgb(216, 81, 216);
    animation: roll4 10s infinite linear;
}
.balls.bal5{
    left:var(--bal5x);
    top: var(--bal5y);
    background-color: rgba(107, 107, 245, 0.212);
    animation: roll5 10s infinite linear;
}
.balls.bal6{
    left:var(--bal6x);
    top: var(--bal6y);
    background-color: rgba(107, 107, 245, 0.445);
    animation: roll6 10s infinite linear;
}
.pic img{
    position: absolute;
    width: 250px;
    height: 700px;
    top: 12%;
    left: 170px;
    
}
.main{
    min-width: 100%;
    height: 90%;
    background-color: hsl(360, 100, 100);
    grid-row: 10/15;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.main .img{
    width: 70%;
    height:70%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.062);
    margin-top: 100px;
    margin-left: 25%;
    overflow: hidden;
    
    /* background-color:rgba(138, 153, 153, 0.651);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    filter: blur(20px);
    box-shadow: 10px 10px 10px rgba(40, 44, 56, 0.5);
    border: 2px solid transparent;
    background-clip: padding-box; */
}
.main .img img{
    height:300px;
    width: 200px;
    margin-left: 25%;
}
.main .personal{
    position: relative;
}
.main .personal h2{
    position: absolute;
    top: 15%;
    left:0%;
    font-family:sans-serif;
    font-weight: 100;

}
.main .personal h1{
    position: absolute;
    top: 20%;
    left:0%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-weight: bolder;

}
.main .personal p{
    position: absolute;
    top: 40%;
    left:0%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: sans-serif;
    margin-right: 5px;
   

}
.main .personal button{
    position: absolute;
    top: 95%;
    left:0%;
    width: 200px;
    height: 50px;
    border: none;
    background-image: linear-gradient(to right,rgba(216, 81, 216, 0.904),rgba(107, 107, 245, 0.788));
    color: white;
    font-family: sans-serif;
    font-weight: bolder;

}
.footer{
    display: grid;
    margin-top: 40px;
}
.footer h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
}
.footer p{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: sans-serif;
}
.skills{
    display: grid;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
}
.skills .mainskill{
    display: grid;
    align-items: center;
    justify-content: center;
}
.mainskill .skillimg img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 25%;
}
.mainskill .skillDet h3{
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
}
.mainskill .skillDet .more{
    font-family: sans-serif;
    text-align: justify;
    margin: 20px;
    margin-left: 100px;
    margin-right: 60px;
    color: rgba(97, 97, 97, 0.514);
}
.mainskill .skillDet{
    justify-content: center;
    align-items: center;
}
.numbers{
    height: 300px;
    width: 100%;
    background: linear-gradient(to right,rgba(216, 81, 216, 0.904),rgba(107, 107, 245, 0.788));
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.numbers .number{
    margin-left: 20%;

}
.numbers .number h4{
text-align: center;
color: white;
margin-top: 20px;
font-family: sans-serif;
font-weight: lighter;
}
.numbers .number h3{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 40px;
    }
    .blog{
        background-color: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        margin-bottom: 50px;

    }
    .blog h1{
        font-family: sans-serif;
        font-weight: bolder;
        margin-top: 40px;
        margin-bottom: 60px;
        grid-column: 1/3;
        
        
        
    }
    .blog .post{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .blog .post img{
        height:300px;
        width: 300px;
        border-radius:50%;
    }
    .blog .post .details{
        display: flex;
        flex-direction: column;
    }
    .blog .post .details span{
        margin-left: 20%;
        margin-top: 10px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bolder;
        color:rgba(97, 97, 97, 0.514) ;
    }
    .footers{
        width: 100%;
        height: 500px;
        background: linear-gradient(to right,rgba(23, 24, 61, 0.904),rgba(154, 154, 241, 0.788));
    }
    .footers .glass{
        width: 70%;
        height: 100px;
        background-color:#f2f2f21c;
        margin-left: 10%;
        margin-top: 30px;
        border-radius:30px;
        filter: blur(2px);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;

    }
    .footers .glass2 img{
        width: 50px;
        height: 50px;
        margin-top: 20px;
        border-radius: 50px;
    }
    .footers .glass2{
        position: absolute;
        width: 70%;
        height: 100px;
        margin-left: 10%;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
    }
    .footers .featured{
        width: 100%;
        height: 100px;
        background-color: transparent;
        margin-top: 200px;
    }
    .footers .featured h3{
        text-align: center;
        font-size: 20px;
        color:rgba(240, 240, 240, 0.486);
        font-family: sans-serif;
        font-weight: bolder;
    }
    .mainPro button{
        width: 20%;
        margin-left: 10px;
        height: 50px;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.808);
        color: rgba(255, 255, 255, 0.808);
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 20px;
    }
    .mainPro{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
       
    }
    .footers .name{
        overflow: hidden;
        margin-top: 20px;
    }
    .footers .name h3{
        text-align: center;
        color: rgba(255, 255, 255, 0.808);
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 20px;
        transform: skewX(-20deg);
        margin-top: 40px;
    }
    .footers .name h2{
        font-style: italic;
        font-family: sans-serif;
        font-weight: lighter;
        color: rgba(240, 240, 240, 0.486);
        text-align: center;
        margin-top: 20px;
       
    }
    .footers .name h4{
        color: rgba(240, 240, 240, 0.486);
        text-align: center;
    }
    @media screen and (max-width: 668px) {
     .nav{
         opacity: 1;
         max-height: 100px;
      
         
     }
     .nav .navigations ul{
        margin-left: 40%;
        margin-top: 20px;
        display: none;
        opacity: 0;
        transition: 5s;
    }
    .nav .navigations img{
        display: block;
        width: 50px;
        height: 50px;
        margin-left: 80%;
        margin-top: 20px;
    }
    .nav .navigations ul.show{
        display: block;
        opacity: 1;
    }
    .nav .navigations ul li{
        display: block;
        padding: 20px;
    }
    .nav .navigations ul li a{
        list-style: none;
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 100;
        color: rgba(0, 0, 0, 0.5);
        transition: 0.4s;
    }
    .nav .navigations ul li a:hover{
        font-size: 20px;
        color: rgba(0, 0, 0, 0.26);
    }
    .subsection{
        min-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        background-color: rgba(184, 215, 235, 0.253);
        height: 1000px;
        grid-row: 2/10;
        overflow: hidden;
        margin-top: -70px;
        
      
    }
    .subsection .bio{
        position: relative;
        
    }
    .subsection .bio h2{
        position: absolute;
        top: 10%;
        left:20%;
        font-family:sans-serif;
        font-weight: 100;
    
    }
    .subsection .bio h1{
        position: absolute;
        top: 25%;
        left:10%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: sans-serif;
        font-weight: bolder;
    
    }
    .subsection .bio p{
        position: absolute;
        top: 50%;
        left:10%;
        right: 10%;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: justify;
        font-family: sans-serif;
       
    
    }
    .subsection .bio button{
        position: absolute;
        top: 105%;
        left:10%;
        width: 200px;
        height: 50px;
        border: none;
        background-image: linear-gradient(to right,rgba(216, 81, 216, 0.904),rgba(107, 107, 245, 0.788));
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
      
    
    }
    .subsection .pic .picanimation{
        position: relative;
        width:80%;
        height: 350px;
        background:transparent;
        top: 150px;
        left: 10%;
        border: 10px rgba(216, 81, 216, 0.904) solid;
        transition: 2s;
        perspective: 200px;
    }
    .subsection .pic .picanimation .balls{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: 2s;
        perspective: 200px;
        
        
    }
    .pic img{
        position: absolute;
        width: 250px;
        height: 700px;
        top:150px;
        left: 10%;
        
    }
    .main{
        min-width: 100%;
        height: 1070px;
        background-color: hsl(360, 100, 100);
        
        /* grid-row: 10/15; */
        display: grid;
        grid-template-columns: 1fr;
        margin-top: -270px;
       
    }
    .main .img{
        width: 80%;
        height:300px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.062);
        margin-top: 10px;
        margin-left: 5%;
        overflow: hidden;
    }
    .main .img img{
        height:300px;
        width: 200px;
        margin-left: 10%;
    }
    .main .personal{
        position: relative;
        margin-top: -240px;
    }
    .main .personal h2{
        position: absolute;
        top: 0px;
        left:10%;
        font-family:sans-serif;
        font-weight: 100;
    
    }
    .main .personal h1{
        position: absolute;
        top: 30px;
        left:10%;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: sans-serif;
        font-weight: bolder;
    
    }
    .main .personal p{
        position: absolute;
        top: 100px;
        left:10%;
        right: 20%;
        /* margin-top: 50px; */
        margin-bottom: 10px;
        text-align: justify;
        font-family: sans-serif;
        margin-right: 5px;
      
       
    
    }
    .main .personal button{
        position: absolute;
        top: 630px;
        left:10%;
        width: 200px;
        height: 50px;
        border: none;
        background-image: linear-gradient(to right,rgba(216, 81, 216, 0.904),rgba(107, 107, 245, 0.788));
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
    
    }
    .footer{
        display: grid;
        margin-top: 75px;
    }
    .footer h1{
        text-align: left;
        font-family: sans-serif;
        font-weight: bolder;
        margin-left: 10%;
    }
    .footer p{
        text-align: left;
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: sans-serif;
        margin-left: 10%;
        margin-right: 20%;
    }
    .skills{
        display: grid;
        width: 100%;
        overflow: hidden;
        grid-template-columns: 1fr;
    }
    .skills .mainskill{
        display: grid;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .mainskill .skillimg img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-left: 25%;
    }
    .mainskill .skillDet h3{
        font-family: sans-serif;
        font-weight: bolder;
        text-align: left;
        margin-left: 30%;
        margin-top: 10px;
        
    }
    .mainskill .skillDet .more{
        font-family: sans-serif;
        text-align: justify;
        margin: 20px;
        margin-left: 10%;
        margin-right: 20%;
        color: rgba(97, 97, 97, 0.514);
    }
    .mainskill .skillDet{
        justify-content: center;
        align-items: center;
    }
    .numbers{
        height: 500px;
        width: 100%;
        background: linear-gradient(to right,rgba(216, 81, 216, 0.904),rgba(107, 107, 245, 0.788));
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .numbers .number{
        margin-left: 10%;
    
    }
    .numbers .number h4{
        text-align: left;
        color: white;
        margin-top: 20px;
        font-family: sans-serif;
        font-weight: lighter;
        margin-left: 25%;
        
        
        }
        .numbers .number h3{
            text-align: left;
            color: rgba(255, 255, 255, 0.808);
            margin-top: 20px;
            font-family: sans-serif;
            font-weight: bolder;
            font-size: 40px;
            margin-left: 40%;
            }
            .blog{
                background-color: transparent;
                display: grid;
                grid-template-columns: 1fr;
                margin-top: 50px;
                margin-bottom: 50px;
                position: relative;
        
            }
            .blog h1{
                font-family: sans-serif;
                font-weight: bolder;
                margin-top: 40px;
                margin-bottom: 60px;
                grid-column: 1/3;
                font-size: 30px;
                
                
            }
            .blog .post{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                grid-column: 1/3;
                
              
                
            }
            .blog .post img{
                height:200px;
                width: 200px;
                border-radius:50%;
            }
            .blog .post .details{
                display: flex;
                flex-direction: column;
            }
            .blog .post .details span{
                margin-left: 5%;
                margin-top: 10px;
                font-size: 20px;
                font-family: sans-serif;
                font-weight: bolder;
                color:rgba(97, 97, 97, 0.514) ;
            }
            .footers{
                width: 100%;
                height: 500px;
                background: linear-gradient(to right,rgba(23, 24, 61, 0.904),rgba(154, 154, 241, 0.788));
            }
            .footers .glass{
                width: 80%;
                height: 100px;
                background-color:#f2f2f21c;
                margin-left: 10%;
                margin-top: 30px;
                border-radius:30px;
                filter: blur(2px);
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                border: 1px solid rgba(255, 255, 255, 0.5);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                position: absolute;
               
        
            }
            .footers .glass2 img{
                width: 50px;
                height: 50px;
                margin-top: 20px;
                border-radius: 50px;
                margin-left: 20px;
            }
            .footers .glass2{
                position: absolute;
                width: 70%;
                height: 100px;
                margin-left: 10%;
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                position: absolute;
            }
            .footers .featured{
                width: 100%;
                height: 100px;
                background-color: transparent;
                margin-top: 200px;
            }
            .footers .featured h3{
                text-align: center;
                font-size: 20px;
                color:rgba(240, 240, 240, 0.486);
                font-family: sans-serif;
                font-weight: bolder;
            }
    }
    @media screen and (max-width: 586px) {
        .nav .navigations ul{
            margin-left: 40%;
            margin-top: 20px;
            display: none;
            opacity: 0;
        }
        .nav .navigations img{
            display: block;
            width: 50px;
            height: 50px;
            margin-left: 70%;
            margin-top: 20px;
        }
        .subsection .bio p{
            position: absolute;
            top: 140px;
            left:10%;
            right: 20%;
            bottom: 10%;
            
            margin-bottom: 10px;
            text-align: justify;
            font-family: sans-serif;
           
        
        }
        .subsection .bio h2{
            position: absolute;
            top: 50px;
            left:10%;
            font-family:sans-serif;
            font-weight: 100;
        
        }
        .subsection .bio h1{
            position: absolute;
            top: 80px;
            left:10%;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: sans-serif;
            font-weight: bolder;
        
        }
        .subsection .bio button{
            position: absolute;
            top: 300px;
            left:10%;
            width: 200px;
            height: 50px;
            border: none;
            background-image: linear-gradient(to right,rgba(216, 81, 216, 0.904),rgba(107, 107, 245, 0.788));
            color: white;
            font-family: sans-serif;
            font-weight: bolder;
          
        
        }
    }
    @media screen and (max-width: 493px) {
        .nav .navigations ul{
            margin-left: 30%;
            margin-top: 20px;
            display: none;
            opacity: 0;
        }
        .nav .navigations img{
            display: block;
            width: 50px;
            height: 50px;
            margin-left: 60%;
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 406px) {
        .nav .navigations ul{
            margin-left: 20%;
            margin-top: 20px;
            display: none;
            opacity: 0;
        }
        .nav .navigations img{
            display: block;
            width: 50px;
            height: 50px;
            margin-left: 70%;
            margin-top: 20px;
        }
    }